@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.app {
    background-image: url('./images/background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-custom {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
